
/* 头部 */
.head {
  position: fixed;
  z-index: 9999;
  width: calc(100% - 0.6rem);
  background-color: white;
  text-align: center;
  height: 1.2rem;
  padding: 0.4rem 0.3rem 0;
}

.title h1 {
  width: 100%;
  font-size: 0.36rem;
  font-weight: bold;
  color: black;
  line-height: 1.2rem;
}

.leftImg {
  position: absolute;
  left: 0.3rem;
  top:0.4rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
}

.leftImg img {
  width: 0.18rem;
  height: 0.3rem;
}

/* 占位符 */
.station {
  height: 1.6rem;
  width: 100%;
}

.middle{
  margin-top: 0.05rem;
  background-color: white;
  font-size: 0;
  padding: 0 0.3rem 0;
}

.money{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.7rem 0;
  font-size: 0;
}

.money:after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

.money span{
  font-size: 0.32rem;
  color: #333333;
  margin-bottom: 0.3rem;
}

.money h5{
  font-size: 0.48rem;
  color: #333333;
  font-weight: 700;
}

.money_detail{
  padding: 0.8rem 0;
}

.money_item{
  padding-left: 0.4rem;
  margin-bottom: 0.25rem;
}

.money_item:last-child{
  margin-bottom: 0 !important;
}

.money_item span{
  display: inline-block;
  width: 1rem;
  font-size: 0.24rem;
  color: #adadad;
}

.money_item h5{
  display: inline-block;
  font-size: 0.24rem;
  color: #333333;
  margin-left: 0.3rem;
}